<div class="container my-4">
    <form [formGroup]="basicForm">
        <div class="col-lg-3">
            <label for="">Choose a movie</label>
            <select formControlName="select" class="form-control" [(ngModel)]="selectedMovie" (change)="fill()">
                <option value="" disabled selected></option>
                <option *ngFor="let movie of movieData" [ngValue]="movie">{{movie.name}}</option>
            </select>
        </div>
    </form>
        <form [formGroup]="userForm" (submit)="update()">
        <div class="col-lg-3">
            <label for="">Movie Name</label>
            <input type="text" formControlName="name" class="form-control">
        </div>

        <div class="col-lg-3">
            <label for="">Category</label>
            <select formControlName="category" class="form-control">
                <option value="" disabled selected>Choose a category</option>
                <option value="Marvel">Marvel</option>
                <option value="DC">DC</option>
                <option value="Star Wars">Star Wars</option>
            </select>
        </div>

        <div class="col-lg-3">
            <label for="">Rating</label>
            <input type="number" formControlName="rating" class="form-control">
        </div>

        <div class="col-lg-3">
            <label for="">Image</label>
            <input type="text" formControlName="image" class="form-control">
        </div>

        <div class="col-lg-3">
            <label for="">Description</label>
            <input type="text" formControlName="description" class="form-control">
        </div>

        <div class="col-lg-3 my-2">
            <input type="submit" class="btn-btn-primary">
        </div>

    </form>
</div>